<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    {{ navbar}}
    <h1>{{title}}</h1>
    <ul>
        {{#each books}}
            <li>
                <h3>{{this.title}}</h3>
                <p><strong>Author:</strong> {{this.author}}</p>
                <p>{{this.description}}</p>
            </li>
        {{/each}}
    </ul>
</body>
</html>
